<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َSnake Game</title>
    <link rel="stylesheet" href="public/MenuStyle.css" type="text/css">
  </head>
  <body>

<form class="box" action="/game">
  <h1>Play Snake!</h1>
  <input id="hft-shoutbox-form-submit" type="submit" class="btn btn-primary" value="NORMAL" />
  <input type="submit" name="hardcore" value="HARDCORE" formaction="/hardcore">
  <input type="submit" name="highscore" value="Score" formaction="/add-entry">
  <input type="submit" name="hardscore" value="Hardscore" formaction="/add-entry2">
</form>

  </body>
</html>
 